# Assignment_1

### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

•	* 

•	'hello'

•	-87.8

•	- 

•	/ 

•	+

•	6

Values are      - 'hello' , -87.8 , 6

Operators are -  * , - , / , +

### 2. What is the difference between string and variable?

A Variable is a container which can store information and a string is a type of information which is stored in a variable.
For Example,

In [3]:
Name = 'Pavan'

Here, Name is a variable which is holding a string datatype i.e. 'Pavan'

### 3. Describe three different data types.

#### Integer : Integer is data type which can store positive ,negative and whole numbers excluding floating point numbers. For example,

In [4]:
i = 5
type(i)

int

#### String : A string is a group of one or more characters put in a single quote, double-quote or triple quote. For Instance,

In [5]:
Name = 'Pavan'
type(Name)

str

#### Boolean : Data type has one of the two built-in values, True or False. To demonstrate,

In [6]:
flag = True
type(flag)

bool

### 4. What is an expression made up of? What do all expressions do?

 An expression is a combination of values, variables, operators, and calls to functions. An expression is an instruction that combines values and operators and always evaluates down to a single value. For example,

In [14]:
'''This is an expression which was evaluated to a single value.'''
1+1

2

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression evaluates to a single value. A statement represent an action or command. For example, assignment statements.

Here, in this case spam = 10 is an assignment statement, it assigns the value 10 to the variable spam.

In [15]:
'Assignment statement'
spam = 10

In [16]:
'Expression'
5+6

11

### 6. After running the following code, what does the variable bacon contain?
#### bacon = 22
#### bacon + 1

In [17]:
bacon = 22
bacon+1

23

bacon contains the value 22 because here we were not assigning the expession 'bacon+1' to bacon variable so, it remains 22 as above aasignment statement.

In [18]:
print(bacon)

22

### 7. What should the values of the following two terms be?
#### 'spam' + 'spamspam'
#### 'spam' * 3

In [19]:
'spam' + 'spamspam'

'spamspamspam'

In [20]:
'spam' * 3

'spamspamspam'

The result of both the expressions equal to 'spamspamspam' .

### 8. Why is eggs a valid variable name while 100 is invalid?

Variable names cannot start with a number.

In [21]:
eggs = 1

In [22]:
100 = 'hi'

SyntaxError: cannot assign to literal (<ipython-input-22-6e75fe023c4f>, line 1)

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

By using int(), float(), and str() functions we can evaluate to the integer, floating-point number, and string versions of the value passed to them.

In [23]:
int(9.7)

9

In [24]:
float(2)

2.0

In [25]:
str(10)

'10'

### 10. Why does this expression cause an error? How can you fix it?
#### 'I have eaten ' + 99 + ' burritos.'

In [23]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

when the above expression is evaluated we get this error. 
TypeError: can only concatenate str (not "int") to str

By using the string function i.e str() we can fix this error, this function converts the value being passed to it into a string.

In [26]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'